<div class="container" ng-controller="FriendController as ctrl">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="myPage">Collaboration Center</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#">HOME</a></li>
        <li class="active"><a href="#/Chat"> Chat</a></li>
        <li class="active"><a href="#/logout"> Logout</a></li>
        <li><a href="#/reg">Register With Us</a></li>
        <li><a href="#/Forum">Forum </a></li>
        <li><a href="#/Blog">Blog </a></li>
        <li><a href="#/Job">Job</a></li>
        <li><a href="#/AboutUs">About Us</a></li>
        
      </ul>
    </div>
  </div>
</nav>
	
	<p>
	<p>
	<p>
	<p>
	
	<div class="form-group has-feedback"></div>

  search for friend

  <p><input type="text" ng-model="sear_text"></p>


	<div ng-repeat="friend in ctrl.friends | filter: sear_text">

		<fieldset>
			<legend></legend>

			<p>Friend ID : {{friend.friendID}} &nbsp; &nbsp;&nbsp;| Status: {{friend.status}}
			<a href="#/Chat">Send Message</a>
		</fieldset>
	</div>

	<script src="app.js"></script>
	<script src="c_friend/FriendController.js"></script>
	<script src="c_friend/FriendService.js"></script>
	
</div>